# Ensures that everything will be ignored.
config/home-assistant/*

# Whitelist some files/folders, these will not be ignored.
!config/home-assistant/*.yaml
!config/home-assistant/*.md

# Ensure these YAML files are ignored, otherwise secret data/credentials will leak.
config/home-assistant/ip_bans.yaml
config/home-assistant/secrets.yaml
config/home-assistant/known_devices.yaml

config/rhasspy/profiles/fr/*
# XXX: Changes in this file should not be ignored. However, it contains an
# `access_token` (for Home Assistant) which must remain secret. The token is
# removed manually before committing. We ignore the entire file to avoid leaks.
config/rhasspy/profiles/fr/profile.json
